
@{
    ViewData["Title"] = "_CreateOrUpdate";
}

@model ProductModel;

<div class="form-group">
    <label asp-for="ShowOnHomePage" class="control-label"></label>
    <input asp-for="ShowOnHomePage" class="form-control" value="@Model.ShowOnHomePage" />
    <span asp-validation-for="ShowOnHomePage" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Sku" class="control-label"></label>
    <input asp-for="Sku" class="form-control" value="@Model.Sku" />
    <span asp-validation-for="Sku" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" value="@Model.Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ShortDescription" class="control-label"></label>
    <input asp-for="ShortDescription" class="form-control" value="@Model.ShortDescription" />
    <span asp-validation-for="ShortDescription" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FullDescription" class="control-label"></label>
    <input asp-for="FullDescription" class="form-control" value="@Model.FullDescription" />
    <span asp-validation-for="FullDescription" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ImageUrl" class="control-label"></label>
    <input asp-for="ImageUrl" class="form-control" value="@Model.ImageUrl" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DefaultAmount" class="control-label"></label>
    <input asp-for="DefaultAmount" class="form-control" value="@Model.DefaultAmount" />
    <span asp-validation-for="DefaultAmount" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Quantity" class="control-label"></label>
    <input asp-for="Quantity" class="form-control" value="@Model.Quantity" />
    <span asp-validation-for="Quantity" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="IsActive" class="control-label"></label>
    <input asp-for="IsActive" class="form-control" value="@Model.IsActive" />
    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>