@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Routing;
@using X.PagedList;
@using Core.Domain;
@using Core.Enum;

@model IPagedList<Core.Domain.Transaction>

<div class="form-row" style="padding:20px;">
    <div class="form-group col-md-2">
        <label for="startDate" class="text-right control-label col-form-label">Start Date</label>
    </div>
    <div class="col-md-3">

    @* date    format   MM/DD/yyyy *@
    @{
        var startDate = @ViewBag.startDate;
        var endDate = @ViewBag.endDate;

        <input class="form-control input-daterange-datepicker" type="text" id="daterange" name="daterange" value='@startDate - @endDate'>
    }

    </div>
    <div class="col-md-1"></div>
    <div class="form-group col-md-2">
        <label for="providerSku" class="text-right control-label col-form-label">Transaction Type</label>
    </div>
    <div class="col-md-3">

        @{
            List<SelectListItem> listItems = new List<SelectListItem>();

            foreach (var item in TransactionType.GetNames(typeof(TransactionType)).ToList())
            {
                listItems.Add(new SelectListItem
                {
                    Text = item,
                    Value = item,
                    Selected = (string.Equals(@ViewBag.transactionType,item)) ? true : false
                });
            }
        }

        @Html.DropDownList("selectedTransaction", listItems, "Select transaction type!", new { @class = "form-control", })

    </div>
    <div class="col-md-8"></div>
    <div class="form-group col-md-2">
        <button type="submit" class="btn btn-sm btn-info" style="float:right;">
            <i class="fa fa-search">   </i> Search
        </button>
    </div>
    <div class="form-group col-md-2">
        <a href='@Url.Action("List")' class="btn btn-sm btn-danger">Clear Filter</a>
    </div>
</div>