@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Routing;
@using X.PagedList;
@using Core.Domain;
@using Core.Enum;

@model IPagedList<Core.Domain.Transaction>

<div class="form-row" style="padding:20px;">
    <div class="form-group col-md-2">
        <label for="startDate" class="text-right control-label col-form-label">Start Date</label>
    </div>
    <div class="col-md-3">

        @if (string.IsNullOrEmpty(Context.Request.Query["startDate"].ToString()))
        {
            <input id="startDate" name="startDate" type="date" class="form-control" value="@ViewBag.startDate" />
        }
        else
        {
            <input id="startDate" name="startDate" type="date" class="form-control" value='@Context.Request.Query["startDate"].ToString()' />
        }

    </div>
    <div class="col-md-1"></div>
    <div class="form-group col-md-2">
        <label for="endDate" class="text-right control-label col-form-label">End Date</label>
    </div>
    <div class="col-md-3">

        @if (string.IsNullOrEmpty(Context.Request.Query["endDate"].ToString()))
        {
            <input id="endDate" name="endDate" type="date" class="form-control" value="@ViewBag.endDate" />
        }
        else
        {
            <input id="endDate" name="endDate" type="date" class="form-control" value='@Context.Request.Query["endDate"]' />
        }

    </div>
    <div class="col-md-1"></div>
    <div class="form-group col-md-2">
        <label for="providerSku" class="text-right control-label col-form-label">Transaction Type</label>
    </div>
    <div class="col-md-3">

        @{
            List<SelectListItem> listItems = new List<SelectListItem>();

            foreach (var item in TransactionType.GetNames(typeof(TransactionType)).ToList())
            {
                listItems.Add(new SelectListItem
                {
                    Text = item,
                    Value = item
                });
            }
        }

        @Html.DropDownList("selectedTransaction", listItems, "Select transaction type!", new { @class = "form-control", })

    </div>
    <div class="col-md-7"></div>
    <div class="col-md-6"></div>

    <div class="form-group col-md-3">
        <button type="submit" class="btn btn-sm btn-info" style="float:right;">
            <i class="fa fa-search">   </i> Search
        </button>
    </div>
    <div class="form-group col-md-3">
        <a href="@Url.Action("List")" class="btn btn-sm btn-danger">Clear Filter</a>
    </div>
</div>