@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@model IEnumerable<Core.Domain.Product>

@{  
    var response = "";  
    if (TempData.ContainsKey("Response"))  
    {  
        response = TempData["Response"] as string;  

        <script>
            alert('@Html.Raw(response)');
        </script>
    }  
}     

<script>

		setInterval(FocusOnSKUReader, 100); 
		
		function FocusOnSKUReader( ){ 
			document.getElementById("skuReader").focus(); 
		} 
		
		function myFunction(event) {
		
		let skuReader = document.getElementById("skuReader");
		
			if(event.keyCode === 13)
			{
				if(skuReader.value.length>0)
				{
                    $.getJSON('/Transaction/GetProductBySku/',{Sku:skuReader.value}, function (data) {

                        if(data.name!==null){
                            additem(skuReader.value,data.name,data.unitPrice);
                        }
                        else{
                            alert(skuReader.value+' is not found!');
                        }
                        skuReader.value = '';
                    });
				}
                event.preventDefault();
                return false;
			}
		}
        
</script>

<form asp-controller="Transaction" asp-action="Complete" method="post">

    <div class="content-body row">
        <div class="col-md-6">
            <div class="container-fluid mt-3">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="card-body" style="padding: initial;">
                                    <div class="text-center">
                                            <a id="product" href="#" onclick="additem('@item.Sku','@item.Name','@item.UnitPrice')">
                                            <img src="~/Images/@item.ImageUrl" class="rounded-circle" alt="" style="max-height:100px;max-width:100px;">
                                            <h5 class="mt-0 mb-0">@item.Name</h5>
                                            <p class="m-0">@item.UnitPrice ₺</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

            @*<div class="col-sm-6" id="cart" style="background-color:aquamarine;">
            </div>*@




            <div class="col-md-6" style="position:relative;">
                <div class="container-fluid mt-3">
                    <div class="card" style="position:relative; margin:auto;">
                        <div class="card-body">
                            <center><h4 class="card-title">FATURA</h4></center>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped verticle-middle">
                                    <thead>
                                        <tr>
                                            <th scope="col">Ürün</th>
                                            <th scope="col">Adet</th>
                                            <th scope="col">Fiyat</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cart"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin:auto; margin-top:10px;">
                        <div class="card-body">
                            <center>BARKOD</center>
                            <center><input type="text" id="skuReader" onkeypress="myFunction(event)" /></center>
                        </div>
                    </div>
                    <div class="card" style="margin:auto; margin-top:10px;">
                        <div class="card-body">
                            <center>
                                <h4>Total: </h4>
                                <h4 id="totalAmount">0 ₺</h4>
                            </center>
                            <a class="btn btn-primary" style="float:left;" href="javascript: removeItem(0)">Cancel</a>
                            <button class="btn btn-primary" style="float:right;" type="submit">Complete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>