
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<Core.Domain.Product>




<form asp-controller="Transaction" asp-action="Complete" method="post">
    <div class="row">
        <div class="col-sm-6" style="background-color:lavender;">
            <table class="table">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>


                            @*<td width="100">
                                    <a href="@Url.Action("Edit","Product", new { id = item.Id })" class="">@item.Sku</a>
                                </td>
                                <td width="100">@item.Id</td>*@
                            <td width="100">
                                <a id="product" href="#" onclick="additem('@item.Id','@item.Name','@item.DefaultAmount')">
                                    @item.Name
                                </a>
                            </td>
                            <td width="100">
                                <a id="product" href="#" onclick="additem(@item.Id,'@item.Name','@item.DefaultAmount')">
                                    @item.ImageUrl
                                </a>
                            </td>

                            @*<td>
                                    <a href="@Url.Action("Edit","Product", new { id = item.Id })" class="">@item.Name</a>
                                </td>
                                <td style="text-align:right" width="160">
                                    <a href="@Url.Action("Edit","Product", new { id = item.Id })" class="btn btn-sm btn-info">Edit</a>
                                    <a href="@Url.Action("Delete","Product", new { id = item.Id })" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete the record?')">Delete</a>
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>


        </div>

        <div class="col-sm-6" id="cart" style="background-color:aquamarine;">
        </div>
        

        <div class="col-sm-6" style="background-color:lavender;">
        </div>
        <div class="col-sm-6" style="background-color:aquamarine;">
            <div class="col-sm-12" style="background-color:aquamarine;" >
                <center>
                    Total: <a id="total" ></a>
                </center>
               
            </div>
            <div class="col-sm-12" style="background-color:aquamarine;">
                <a class="btn btn-primary" style="float:left;" href="javascript: removeItem(0)">Cancel</a>
                <button class="btn btn-primary" style="float:right;" type="submit">Complete</button>
            </div>
            
        </div>


        </div>
</form>